<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>{% block title_block %}Adressbuch{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap-theme.min.css' %}" />
	</head>

	<body>
		<div class="container">
		{% block body_block %}
		{% endblock %}
		</div>
		<script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/jquery-1.11.2.min.js' %}"></script>
	</body>	
</html>