<!DOCTYPE html>

{% load static %}

<html>

	<head>
		<meta charset="utf-8">
		{% block head_block %}{% endblock %}
		<link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
		<script src = "/static/jquery-1.11.2.min.js"> </script>
		<script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="container">
			<div class="jumbotron">
				<h1 style="text-align:center;">Asset Manager v.01</h1>
			</div>
			
			{% block body_block %}
			{% endblock %}
			
			<a href="{% url 'showCategories' %}"> Home</a>
		</div>
		

	</body>
	
</html>