{% extends 'base.html' %}

{% load static %}

	{% block body_block %}
		
		{% if user.is_authenticated %}
			you are logged in
		{% endif %}
			<h1>Rango says... </h1>
			
			hello {{ user.username }}! <strong>{{ boldmessage }}</strong><br />
			
			<a href = "/myapp/about/">About</a><br />
			<img src="{% static 'images/rango.jpg' %}" alt="lala" />
			
			<br /><br />
			<!-- Check if categories not empty -->
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
						
					{% if categories %}
						<ul class="list-group">
							{% for category in categories %}
							<li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
							{% endfor %}
						</ul>
					
					{% else %}
						<strong>No categories present.</strong>
					{% endif %}
			</div>
			
			<div class="panel">
				{% if pages %}
				<div class="panel-heading">
				<h1 class="panel-title">Top Five Websites</h1>
				</div>
				<ul class="list-group">
					{% for page in pages %}
					<li class="list-group-item"><a href="/myapp/">{{ page.title }}</a> -<strong>{{page.category}}</strong> {{ page.views }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			
	{% endblock %}