{% extends 'adressbuch/base.html' %}

{% load static %}

{% block title_block %}
	Create 
{% endblock %}

{% block body_block %}
{% if contact_form and adress_formset %}
<h2>Add contact</h2>
<form class="form-horizontal" role="form" method="post" action="{% url 'create_contact' %}">
	<div class="form-group">
	{% csrf_token %}
	{{ contact_form.as_table }}
	</div>
	{{ adress_formset.management_form }}
	{{ adress_formset.as_table }}
	<div class="form-group">
		<input class="btn btn-default" type="submit" value="speichern" />
	</div>
</form>
{% endif %}
{% endblock %}