{% extends 'adressbuch/base.html' %}

{% load static %}

{% block title_block %}
	Show Contats
{% endblock %}

{% block body_block %}
{% if object_list %}
<ul class="list-group">
	{% for object in object_list %}
	<li class="list-group-item"><a href="{% url 'update_contact' object.pk %}">{{ object }}</a></li>
	{% endfor %}
</ul>
<br>

<div class="col-md-4">
	<p>Current page: {{ current_page }}</p>
</div>
<div class="col-md-4">
	<button class="btn btn-default">hinzuf&uuml;gen</button>
</div>


{% if has_next and next_page_number != None %}
	<a href="{% url 'show' next_page_number %}">next</a>
{% endif %}

{% else %}
<h2>hat nicht funktioniert</h2>
{% endif %}
 {% endblock %}