{% extends 'base.html' %}

{% load static %}

{% block body_block %}

	{% if asset %}
	<table class="table table-striped table-condensed">
		<tbody>
			<tr>
				<td>Vendor:</td> 
				<td>{{asset.vendor}}</td>
			</tr>
			<tr>
				<td>Department: </td>
				<td>{{asset.department}}</td>
			</tr>
			<tr>
				<td>Next Maintenance:</td> 
				<td>{{ asset.next_sched_maint }}</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>{{asset.description}}</td>
			</tr>
			<tr>
				<td>Acquired:</td>
				<td>{{asset.date_acquired}}</td>
			</tr>
			
			<tr>
				<td>Sold:</td>
				<td> {{asset.date_sold}}</td>
			</tr>
			<tr>
				<td>Modelnr.:</td>
				<td>{{asset.model_number}}</td>
			</tr>
			<tr>
				<td>Serialnr.:</td>
				<td>{{asset.serial_number}}</td>
			</tr>
			<tr>
				<td>Barcode:</td>
				<td>{{asset.barcode_number}}</td>
			</tr>
			<tr>
				<td>Purchase Price:</td>
				<td>{{asset.purchase_price}}</td>
			</tr>
			<tr>
				<td>Current Value:</td>
				<td>{{asset.current_value}}</td>
			</tr>
			<tr>
				<td>Maintenance:</td>
				<td>{{asset.total_maintenance}}</td>
			</tr>
			<tr>
				<td>Depreciation:</td>
				<td>{{asset.total_depreciation}}</td>
			</tr>


			<tr><td><strong>Category:</strong></td><td><a href="{% url 'showAssets' asset.asset_category %}">{{asset.asset_category}}</a></td></tr>
			<tr><td><strong>Status:</strong></td><td>{{asset.status}}</td></tr>

		</tbody>

	</table>

	{% if asset.status.pk != 1 %}
	<button class="btn btn-default">Lend</button>
	{% else %}
	<button class="btn btn-default">Reserve</button>
	{% endif %}
	<br><br>
	{% endif %}
	
{% endblock %}<strong>